/* style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, footer {
  background-color: #333;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

main {
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}

h1 {
  color: #333;
  text-align: center;
  height: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  color: #666;
  line-height: 1.6;
}

.attention_kome {
  color: red;
  font-weight: bold;
  margin: 0 0 1em 0;
}

.contents {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 0 30px;
}

.play_stop_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 30px;
}

.dropzone, .list-contents, .play_stop_btn, .bar {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 2px dashed #ccc;
  color: #aaa;
  width: 80%;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.dropzone.dragover {
  background-color: #e0f7fa; /* ドラッグオーバー時の背景色 */
  border-color: #00acc1; /* ドラッグオーバー時の枠線色 */
}


.list-contents {
  width: 100%;
}

.list-contents ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  width: 100%;
  height: 280px;
}

.list-contents li {
  background-color: #eee;
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 4px;
  width: 95%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-contents img {
  width: 24px; /* アイコンのサイズを調整 */
  height: 24px;
  margin-left: 10px; /* アイコンとテキストの間にスペースを追加 */
}

.interval-form {
  margin-bottom: 1em;
}

.btn-play, .btn-stop {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  margin: 1em 0;
  width: 60%;
  height: 50px;
  font-size: 15pt;
}

.btn-stop {
  background-color: #dc3545;
}

.bar {
  margin-top: 1em;
  width: 90%;
}

.photoalert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.photoalert img {
  max-width: 20%;
  border-radius: 8px;
}

.interval-time, .repeat-count {
  margin-top: 1em;
  font-weight: bold;
}

.playing::after {
  content: url('kkrn_icon_onsei_1.svg');
  margin-left: 10px;
  width: 20px;  /* 画像の幅を指定 */
  height: 20px; /* 画像の高さを指定 */
  display: inline-block; /* 画像をインラインブロック要素として表示 */
}

label {
  font-size: 15pt;
  margin: 0.5em;
}

input[type="number"] {
  font-size: 15pt;
  width: 60px;
  text-align: center;
}